<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container mt-4">
    <h1>My Tasks</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td>
                <input disabled th:checked="${task.completed}" type="checkbox">
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>